{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}
    

<div id="userView">

<p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. Your role in the system is: {{role}}."</p>

<p id="quote">Favorite Quote: {{favoriteQuote}}</p>

<!-- link here for admin, ONLY if they are an administratoruser <a id="adminLink" href="/administrator">Administrator Page</a> !-->
{{#if administrator}}
<a id="adminLink" href="/administrator">Administrator Page</a> 
{{/if}}


<a id="signoutLink" href="/signoutuser">Sign out</a>

</div>